.card1 {
  overflow: hidden;
  width: 100%;
  /* max-width: 300px; */
  height: auto;
  flex: 1 1 calc(25% - 1rem);
  box-sizing: border-box;
  margin: 0.4rem;
  display: flex;
  flex-direction: column;
}


.card-image {
  width: 100%;
  height: auto;
  aspect-ratio: 3/4;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card-image:hover {
  transform: scale(1.05);
}

.card-content {
  padding: 10px;
}

.product-tit {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
}

.product-pri {
  color: #888;
  font-size: 1rem;
  margin: 8px 0 0;
  font-weight: bold;
}
/* Tablets */
@media (max-width: 1024px) {
  .card1 {
    flex: 1 1 calc(33.33% - 1rem);
  }
}

/* Mobile Landscape */
@media (max-width: 768px) {
  .card1 {
    flex: 1 1 calc(50% - 1rem);
  }
}

/* Mobile Medium (Below 600px) */
@media (max-width: 600px) {
  .card1 {
    flex: 1 1 calc(43% - -0.5rem);
  }
  .product-tit{
    font-size: 0.6rem;
  }
  .product-pri{
    font-size: 0.6rem;
    
  }
}


